all:
   hosts:
      # PhotonOS 4
      10.255.101.231:
        hostname: ansible-deployment-testing-001
      # Ubuntu 20.04 LTS
      10.255.101.232:
        hostname: ansible-deployment-testing-002
      # Debian 10
      10.255.101.235:
        hostname: ansible-deployment-testing-003
      # CentOS 8
      10.255.101.236:
        hostname: ansible-deployment-testing-004
