vsphere_datacenter="dc1"

vsphere_datastore="datastore1"

vsphere_resource_pool="Resources1"

vsphere_network="VM Network"

vsphere_user="terraform-vsphere@vsphere.local"

vsphere_pass=""

vsphere_server="10.255.101.20"
