vsphere_datacenter="dc1"

vsphere_datastore="datastore1"

vsphere_resource_pool="Resources1"

vsphere_network="VM Network"

vsphere_user="administrator@vcenter.serverdomain.com"

vsphere_pass=""

vsphere_server="vcenter.serverdomain.com"
